.jumbotron {
  /* padding: 2rem 1rem; */
  padding-top: 120px;
  margin-bottom: -20px;
  background-color: #fff;
}

.jumbotron img {
  width: 150px;
  height: 150px;
}

#about {
  background-color: #fa7373;
}

#project {
  background-color: #fff;
}

#gallery {
  background-color: #fa7373;
}

.container .imgku {
  width: 300px;
  height: 300px;
}

#gallery .row > * {
  padding: 0;
}

#contact {
  background-color: #fff;
}

section {
  padding-top: 70px;
}
